{% load static %} {% load movies_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Базовое название.{% endblock title %}</title>
		<!--Подгружает стили из style.css-->
		<link rel="stylesheet" href="{% static 'movies/css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'movies/css/header.css' %}" />
	</head>
	<body class="body">
		<div class="container">
			{% header_tag %} {% block main %} {% block main %} {% endblock
			main%}
		</div>
	</body>
</html>
